<% if current_user.organizations.count == 0 %>
<%= render "new_org" %>
<% else %>
<div class="row">
	<div class="col m3">
		<p class="right-align text-header">Welcome, <%=current_user.name %> </p>
		<p class="right-align"> <i>Organization: <%=@current_org.name %></i> </p>
		<%= link_to(organization_setlists_path(@current_org), class: "waves-effect waves-light btn-large newlist", method:"post") do %>
			<i class="material-icons left">cloud</i>Create a New Setlist!
			<% end %>
	</div>
	<div class="col m7 full-height">
		<div class="form-border">
			<div class="row">
				<div class="col m6 offset-m3">
					<p class="center-align text-header">Your Set Lists</p>
					<hr>
					<% if @current_org.setlists.count >	0 %>
					<ul class="collapsible">
						<% @current_org.setlists.order(:performance_date).each do |setlist| %>
						<li>
							<div class="collapsible-header">
								<%= setlist.name %>
							</div>
							<div class="collapsible-body">
								<p> <%= link_to "Show Setlist", setlist_path(setlist) %></p> <hr class="style1">
								<% setlist.items.each do |item| %>
								<p> <%= item.arrangement.song.name %></p>
								<% end %>
								<hr class="style1">
								<p><%= link_to "Edit Setlist", edit_setlist_path(setlist) %></p>
							</div>
						</li>
						<% end %>
					</ul>
					<% else %>
					<p>No Setlist Added</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

